.introduction {
    margin-top: 12rem;
}

.introduction__inner {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.introduction__text p {
    margin-top: 2rem;
}

.introduction__text p:first-of-type {
    margin-top: 1rem;
    font-size: var(--font-size-2);
}

.introduction__text a {
    font-weight: var(--font-weight-regular);
    text-decoration: underline;
}

.introduction__image {
    place-self: center;
    max-width: 15.5rem;
}

.introduction__flower {
    position: absolute;
    z-index: -1;
    top: -3rem;
    right: 25rem;
    opacity: 25%;
}

.introduction__flower:last-of-type {
    top: 80%;
    right: 2rem;
}

.introduction__flower img {
    width: 16rem;
}

.experiences {
    display: block;
    margin-top: 5rem;
}

.experiences__inner {
    padding: 0;
}

.experience {
    display: grid;
    grid-template-columns: var(--grid-container);
    border-top: 1px solid var(--color-primary);
}

.experience:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.experience:hover .experience__link {
    display: flex;
}

.experience__inner {
    position: relative;
    grid-column: 2;
    display: flex;
}

.experience__title-area {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 5rem;
    padding: 2rem 4rem;
}

.experience__title {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
    line-height: initial;
}

.experience__place {
    font-weight: var(--font-weight-regular);
    grid-column: 2;
}

.experience__link {
    display: none;
    align-items: center;
    gap: 1rem;
}

.experience__link span {
    color: var(--color-secondary);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
}

@media screen and (max-width: 425px) {
    
    .introduction {
        margin-top: 9rem;
    }

    .introduction__inner {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience__title-area {
        grid-template-columns: 1fr;
        padding: 1.5rem 0;
    }

    .experience__time {
        margin-bottom: 1rem;
    }

    .experience__link {
        position: absolute;
        right: 0;
        bottom: 1.5rem;
        display: block;
    }
    
    .experience__link span {
        display: none;
    }

    .experience__link svg path {
        stroke: var(--color-primary);
    }

    .experience__place {
        grid-column: unset;
    }

}